In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from utils.dataset_download import extend_from_lemma,harvest_data_from_extended_senses, filter_senses, obtain_quotations_for_senses
from utils.classificaton_utils import binarize
import pickle
import json
from pathlib import Path, PosixPath
import pandas as pd

In [3]:
# import API credentials
with open('oed_experiments/oed_credentials.json') as f:
    auth = json.load(f)

# Extended senses

In [5]:
lemma,pos = 'machine','NN'

In [6]:
extended_df = extend_from_lemma(auth,lemma,pos)
print(extended_df.shape)

[LOG] Dowloading senses for machine_NN from OED API.
[LOG] Found following word ids for machine_NN {'machine_nn01'}
[LOG] Obtained 26 senses for machine_nn01
[LOG] Obtained 26 seed senses for machine_NN
[LOG] Get all 26 senses for the lemma machine_NN
[LOG] Get all synonyms of the 26 senses listed in machine_NN
[LOG] Created dateframe with 517 senses
[LOG] Saved dataframe to "./data/extended_senses_machine_NN.pickle"
(517, 19)

In [65]:
extended_df.head()

,categories,daterange,definition,first_use,id,lemma,main_current_sense,meta,notes,oed_reference,oed_url,part_of_speech,provenance,provenance_type,quotation_ids,semantic_class_ids,transitivity,word_id,semantic_class_last_id
0,"{'topic': [], 'usage': [['rare']], 'region': []}","{'end': None, 'start': 1545, 'obsolete': False...","A material or immaterial structure, esp. the f...",J. Schäfer,machine_nn01-38473945,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense I.1a",https://www.oed.com/view/Entry/111850#eid38473945,NN,"[[machine_nn01-38473945, seed, machine_nn01]]",seed,"[machine_nn01-38473950, machine_nn01-38473961,...","[[1, 111290, 118635, 119024, 120162, 120172], ...",None,machine_nn01,"[120172, 120173]"
1,"{'topic': [['Military', 'Weaponry']], 'usage':...","{'end': None, 'start': 1583, 'obsolete': False...",A military engine or siege-tower. Cf. war mach...,Brian Melbancke,machine_nn01-38474233,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense II.3",https://www.oed.com/view/Entry/111850#eid38474233,NN,"[[machine_nn01-38474233, seed, machine_nn01]]",seed,"[machine_nn01-38474243, machine_nn01-38474252,...","[[153072, 160439, 163207, 163208, 163377, 1633...",None,machine_nn01,[163378]
2,"{'topic': [], 'usage': [], 'region': []}","{'end': 1707, 'start': 1595, 'obsolete': True,...",spec. A scheme or plot. Obsolete.,Elizabeth I,machine_nn01-38474097,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense I.1b",https://www.oed.com/view/Entry/111850#eid38474097,NN,"[[machine_nn01-38474097, seed, machine_nn01]]",seed,"[machine_nn01-38474102, machine_nn01-38474122,...","[[1, 84689, 87987, 87988, 87989, 88083, 88109,...",None,machine_nn01,[88126]
3,"{'topic': [['Sciences', 'Medicine', 'Anatomy']...","{'end': None, 'start': 1604, 'obsolete': False...","A living body, esp. the human body considered ...",William Shakespeare,machine_nn01-38474140,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense I.2",https://www.oed.com/view/Entry/111850#eid38474140,NN,"[[machine_nn01-38474140, seed, machine_nn01]]",seed,"[machine_nn01-38474151, machine_nn01-38474160,...","[[1, 8835, 25507, 29189]]",None,machine_nn01,[29189]
4,"{'topic': [['Arts', 'Performing Arts', 'Theatr...","{'end': None, 'start': 1609, 'obsolete': False...",Theatre. A (usually movable) contrivance for t...,Ben Jonson,machine_nn01-38474301,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[In early use predominantly a ‘flying’ car alo...,"machine, n., sense II.4a",https://www.oed.com/view/Entry/111850#eid38474301,NN,"[[machine_nn01-38474301, seed, machine_nn01]]",seed,"[machine_nn01-38474320, machine_nn01-38474329,...","[[153072, 222360, 224508, 232933, 232967, 2330...",None,machine_nn01,[233139]

In [7]:
extended_df.shape[0] == 517

True

In [29]:
lemma,pos = 'nation','NN'
extended_df = extend_from_lemma(auth,lemma,pos)
print(extended_df.shape)

Loading senses for nation_NN from pickle.
[LOG] Obtained 20 seed senses for nation_NN
[LOG] Get all 20 senses for the lemma nation_NN
[LOG] Get all synonyms of the 20 senses listed in nation_NN
[LOG] Created dateframe with 266 senses
[LOG] Saved dataframe to "./data/extended_senses_nation_NN.pickle"
(266, 19)

In [10]:
extended_df.shape[0] == 266

True

# Harvest quotations and definitions

In [30]:
lemma,pos = 'machine','NN'

In [31]:
final_df = harvest_data_from_extended_senses(auth, 
                            f"{lemma}_{pos}")

[LOG] Loading data from pickled file
[LOG] Shape of senses dataframe = (5136, 16)
[LOG] Shape of quotations dataframe = (30811, 9)
[LOG] Saving pickle file to "./data/sfrel_quotations_machine_NN.pickle"
[LOG] Shape of final dataframe = (30752, 8)

In [32]:
final_df.head()

,sense_id,definition,word_id,lemma,quotation_id,source,text,year
0,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882548,"{'title': 'Troy-bk.', 'author': 'J. Barbour', ...","{'keyword': 'cawteile', 'full_text': 'A, what ...",1375.0
1,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882557,"{'title': 'P. Pl. Crede', 'author': None, 'gen...","{'keyword': 'cautel', 'full_text': 'But knewen...",1394.0
2,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882564,"{'title': 'Act 2 & 3 Edw. VI', 'author': None,...","{'keyword': 'Cautele', 'full_text': 'Thieves, ...",1548.0
3,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882571,"{'title': None, 'author': 'C. Hatton', 'gender...","{'keyword': 'cawtell', 'full_text': 'Be free f...",1580.0
4,cautel_nn01-9882477,"A crafty device, artifice, stratagem; a trick,...",cautel_nn01,cautel,cautel_nn01-9882480,"{'title': 'Serm.', 'author': 'J. Wyclif', 'gen...","{'keyword': 'cautelis', 'full_text': 'Make kno...",1379.0

# Filter Senses

In [4]:
lemma,pos = 'machine','NN'
df = pd.read_pickle(f'./data/extended_senses_{lemma}_{pos}.pickle')

In [5]:
df[df.provenance_type=='seed'].head(3)

,categories,daterange,definition,first_use,id,lemma,main_current_sense,meta,notes,oed_reference,oed_url,part_of_speech,provenance,provenance_type,quotation_ids,semantic_class_ids,transitivity,word_id,semantic_class_last_id
0,"{'topic': [], 'usage': [['rare']], 'region': []}","{'end': None, 'start': 1545, 'obsolete': False...","A material or immaterial structure, esp. the f...",J. Schäfer,machine_nn01-38473945,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense I.1a",https://www.oed.com/view/Entry/111850#eid38473945,NN,"[[machine_nn01-38473945, seed, machine_nn01]]",seed,"[machine_nn01-38473950, machine_nn01-38473961,...","[[1, 111290, 118635, 119024, 120162, 120172], ...",None,machine_nn01,"[120172, 120173]"
1,"{'topic': [['Military', 'Weaponry']], 'usage':...","{'end': None, 'start': 1583, 'obsolete': False...",A military engine or siege-tower. Cf. war mach...,Brian Melbancke,machine_nn01-38474233,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense II.3",https://www.oed.com/view/Entry/111850#eid38474233,NN,"[[machine_nn01-38474233, seed, machine_nn01]]",seed,"[machine_nn01-38474243, machine_nn01-38474252,...","[[153072, 160439, 163207, 163208, 163377, 1633...",None,machine_nn01,[163378]
2,"{'topic': [], 'usage': [], 'region': []}","{'end': 1707, 'start': 1595, 'obsolete': True,...",spec. A scheme or plot. Obsolete.,Elizabeth I,machine_nn01-38474097,machine,False,"{'created': 1904, 'revised': True, 'updated': ...",[],"machine, n., sense I.1b",https://www.oed.com/view/Entry/111850#eid38474097,NN,"[[machine_nn01-38474097, seed, machine_nn01]]",seed,"[machine_nn01-38474102, machine_nn01-38474122,...","[[1, 84689, 87987, 87988, 87989, 88083, 88109,...",None,machine_nn01,[88126]

In [6]:
senses = filter_senses(df,
                       {'machine_nn01-38475835','machine_nn01-38475923'},
                       relations = ['seed','synonym'], # 'all', # 'descendant','sibling', 'descendant','sibling'
                       expand_seeds=True,
                       expand_synonyms=True,
                       start=1750, 
                       end=2000
                      )
print(senses)

# senses before filtering by date = 517
# senses after filtering by date = 418


# of seed senses 25
# of synonyms 370
# of branch senses 0


# of seeds selected 2
# of synonyms selected 10
# of branches selected 0
{'energizer_nn01-1246574970', 'primummobile_nn01-28369573', 'turingmachine_nn01-17499756', 'primemover_nn01-28348676', 'mechanicaladvantage_nn01-37502752', 'machine_nn01-38475835', 'mover_nn01-35820685', 'machinepower_nn01-38476982', 'power_nn01-28687898', 'biocomputer_nn01-11753081', 'generator_nn01-135539783', 'machine_nn01-38475923'}

# Filter quotations

In [62]:
lemma,pos = 'machine','NN'
df_source = pd.read_pickle(f'./data/extended_senses_{lemma}_{pos}.pickle')
df_quotations = pd.read_pickle(f'./data/sfrel_quotations_{lemma}_{pos}.pickle')

In [63]:
df_quotations.head(3)

,sense_id,definition,word_id,lemma,quotation_id,source,text,year
0,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882548,"{'title': 'Troy-bk.', 'author': 'J. Barbour', ...","{'keyword': 'cawteile', 'full_text': 'A, what ...",1375.0
1,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882557,"{'title': 'P. Pl. Crede', 'author': None, 'gen...","{'keyword': 'cautel', 'full_text': 'But knewen...",1394.0
2,cautel_nn01-9882545,"Cunning, craftiness, wiliness, trickery.",cautel_nn01,cautel,cautel_nn01-9882564,"{'title': 'Act 2 & 3 Edw. VI', 'author': None,...","{'keyword': 'Cautele', 'full_text': 'Thieves, ...",1548.0

In [42]:
senses = filter_senses(df,
                       {'machine_nn01-38475835','machine_nn01-38475923'},
                       relations = ['seed','synonym'], # 'all', # 'descendant','sibling', 'descendant','sibling'
                       expand_seeds=True,
                       expand_synonyms=True,
                       start=1750, 
                       end=2000
                      )

# senses before filtering by date = 517
# senses after filtering by date = 418


# of seed senses 25
# of synonyms 370
# of branch senses 0


# of seeds selected 2
# of synonyms selected 10
# of branches selected 0

In [43]:
senses

{'biocomputer_nn01-11753081',
 'energizer_nn01-1246574970',
 'generator_nn01-135539783',
 'machine_nn01-38475835',
 'machine_nn01-38475923',
 'machinepower_nn01-38476982',
 'mechanicaladvantage_nn01-37502752',
 'mover_nn01-35820685',
 'power_nn01-28687898',
 'primemover_nn01-28348676',
 'primummobile_nn01-28369573',
 'turingmachine_nn01-17499756'}

In [44]:
quotations = obtain_quotations_for_senses(df_quotations,
                                df_source,                  
                                senses,
                                start=1760,end=2000)
quotations.shape

(57, 11)

In [45]:
quotations.head(3)

,keyword,full_text,keyword_offset,title,author,gender,year,sense_id,word_id,quotation_id,definition
3089,generator,Mr. Perkins constructs a generator consisting ...,25.0,Manchester Iris,None,None,1823.0,generator_nn01-135539783,generator_nn01,generator_nn01-135539794,An apparatus or device used for generating som...
3090,Generators,Generators are constructed either to work with...,0.0,Knapp's Chem. Technol.,E. Ronalds,male,1854.0,generator_nn01-135539783,generator_nn01,generator_nn01-3060746,An apparatus or device used for generating som...
3091,Generator,"Patent Photogen, or Light Generator, to be use...",26.0,Catal. 10th Exhib. Inventions,None,None,1858.0,generator_nn01-135539783,generator_nn01,generator_nn01-135539809,An apparatus or device used for generating som...

In [46]:
quotations.sense_id.unique()

array(['generator_nn01-135539783', 'machinepower_nn01-38476982',
       'machine_nn01-38475923', 'machine_nn01-38475835',
       'turingmachine_nn01-17499756', 'mechanicaladvantage_nn01-37502752',
       'power_nn01-28687898', 'mover_nn01-35820685',
       'energizer_nn01-1246574970', 'biocomputer_nn01-11753081',
       'primummobile_nn01-28369573', 'primemover_nn01-28348676'],
      dtype=object)

# Binarize labels

In [60]:
lemma, pos = 'machine','NN'
senses = {'machine_nn01-38475835','machine_nn01-38475923'}
relations = ['seed','synonym'] # 'descendant','sibling'

labelled_quotations = binarize(f'{lemma}_{pos}', 
                        senses, 
                        relations,
                        strict_filter=True,
                        start=1700,
                        end=1920)

Index(['sense_id', 'definition', 'word_id', 'lemma', 'quotation_id', 'source',
       'text', 'year'],
      dtype='object')
# senses before filtering by date = 517
# senses after filtering by date = 368


# of seed senses 23
# of synonyms 324
# of branch senses 0


# of seeds selected 1
# of synonyms selected 8
# of branches selected 0

In [64]:
labelled_quotations.columns

Index(['sense_id', 'definition', 'word_id', 'lemma', 'quotation_id', 'source',
       'text', 'year', 'label', 'id', 'daterange', 'provenance',
       'provenance_type', 'relation_to_core_senses',
       'relation_to_seed_senses'],
      dtype='object')

In [65]:
labelled_quotations.label.value_counts()

0    407
1     37
Name: label, dtype: int64

In [66]:
labelled_quotations[labelled_quotations.label=='1'].sense_id.unique()

array(['generator_nn01-135539783', 'machinepower_nn01-38476982',
       'machine_nn01-38475923', 'mechanicaladvantage_nn01-37502752',
       'power_nn01-28687898', 'mover_nn01-35820685',
       'energizer_nn01-1246574970', 'primummobile_nn01-28369573',
       'primemover_nn01-28348676'], dtype=object)

In [56]:
labelled_quotations[labelled_quotations.label=='0'].sense_id.unique()

array(['generator_nn01-3060690', 'generator_nn01-3060819',
       'generator_nn01-3060789', 'generator_nn01-3060786',
       'generator_nn01-3060725', 'generator_nn01-3060852',
       'generator_nn01-135539755', 'machine_nn01-38473945',
       'machine_nn01-38474233', 'machine_nn01-38474097',
       'machine_nn01-38474140', 'machine_nn01-38474301',
       'machine_nn01-38474548', 'machine_nn01-38475164',
       'machine_nn01-38475286', 'machine_nn01-38474405',
       'machine_nn01-38475994', 'machine_nn01-38476096',
       'machine_nn01-38474607', 'machine_nn01-38476316',
       'machine_nn01-38474820', 'machine_nn01-38475494',
       'machine_nn01-38474877', 'machine_nn01-38474974',
       'machine_nn01-38476397', 'machine_nn01-38475013',
       'machine_nn01-38475772', 'machine_nn01-38475046',
       'machine_nn01-38475099', 'power_nn01-28684730',
       'power_nn01-28686005', 'power_nn01-28684973',
       'power_nn01-28685458', 'power_nn01-28685148',
       'power_nn01-28686226', 'power_nn01-28684355',
       'power_nn01-28686314', 'power_nn01-28685727',
       'power_nn01-110297806', 'power_nn01-28686646',
       'power_nn01-28687020', 'power_nn01-28685893',
       'power_nn01-28684538', 'power_nn01-28687170',
       'power_nn01-28686446', 'power_nn01-28686885',
       'power_nn01-28687471', 'power_nn01-28687446',
       'power_nn01-28687561', 'power_nn01-28686566',
       'power_nn01-28688384', 'power_nn01-52944158',
       'power_nn01-28684910', 'power_nn01-28688482',
       'power_nn01-28685253', 'power_nn01-28688218',
       'power_nn01-224965906', 'power_nn01-28685989',
       'power_nn01-28687732', 'power_nn01-52944172',
       'power_nn01-28687774', 'mover_nn01-35820459',
       'mover_nn01-35820773', 'mover_nn01-35820598',
       'mover_nn01-35821002', 'mover_nn01-35821082',
       'mover_nn01-35821153', 'mover_nn01-35820949',
       'mover_nn01-35821230', 'energizer_nn01-1223713530',
       'energizer_nn01-5621953', 'energizer_nn01-5622006',
       'primummobile_nn01-28369412', 'primemover_nn01-28348561',
       'primemover_nn01-28348845'], dtype=object)

In [57]:
# this should be empty
set(labelled_quotations[labelled_quotations.label=='0'].sense_id.unique()
        ).intersection(labelled_quotations[labelled_quotations.label=='1'].sense_id.unique())

set()

In [58]:
# should return True
set(labelled_quotations[labelled_quotations.label=='0'].word_id.unique()
        ).union(labelled_quotations[labelled_quotations.label=='1'].word_id.unique()) == set(labelled_quotations.word_id.unique())

True