In [1]:
!git branch

  1-dataframe
  2-exp-infrastructure
  4-semantic-provenance
  47-wsd-uns-baselines
* 70-binarize-labels
  77-datapipeline
  dev
  master
  oed-experiments
  sense-embs
  test-branch
  test-two

In [2]:
%load_ext autoreload

In [3]:
%autoreload 2

In [4]:
from utils.classificaton_utils import binarize

In [5]:
lemma_id = 'machine_nn01'
senses = {'machine_nn01-38475835','machine_nn01-38475923'}
relations = ['seed','synonym','descendant','sibling']

In [6]:
df_quotations = binarize(lemma_id, 
                        senses, 
                        relations,
                        strict_filter=True,
                        start=1700,
                        end=1910)

# senses before filtering by date = 8383
# senses after filtering by date = 5904


# of seed senses 23
# of synonyms 312
# of branch senses 4968


# of seeds selected 1
# of synonyms selected 8
# of branches selected 5

In [7]:
df_quotations.label.value_counts()

0    355
1     65
Name: label, dtype: int64

In [8]:
df_quotations.shape

(420, 13)

In [10]:
df_quotations.head()

,id,text,year,lemma,source,oed_url,word_id,sense_id,datestring,first_in_word,oed_reference,first_in_sense,label
25430,mover_nn01-35820849,"{'keyword': 'mover', 'full_text': 'Providence,...",1704,mover,"{'title': '15th Rep. Royal Comm. Hist. MSS', '...",https://www.oed.com/view/Entry/123034#eid35820849,mover_nn01,mover_nn01-35820773,1704,False,"mover, n.1, sense 2a",False,0
25431,mover_nn01-35820717,"{'keyword': 'first Mover', 'full_text': 'The M...",1711,mover,"{'title': 'Ship-builders Assistant', 'author':...",https://www.oed.com/view/Entry/123034#eid35820717,mover_nn01,mover_nn01-35820685,1711,False,"mover, n.1, sense 1c",False,1
25432,mover_nn01-35820860,"{'keyword': 'mover', 'full_text': 'They will w...",1711,mover,"{'title': 'Jrnl. to Stella', 'author': 'J. Swi...",https://www.oed.com/view/Entry/123034#eid35820860,mover_nn01,mover_nn01-35820773,1711,False,"mover, n.1, sense 2a",False,0
25433,mover_nn01-35821031,"{'keyword': 'Movers', 'full_text': 'Nor is the...",1736,mover,"{'title': 'Analogy of Relig.', 'author': 'Bp. ...",https://www.oed.com/view/Entry/123034#eid35821031,mover_nn01,mover_nn01-35821002,1736,False,"mover, n.1, sense 3",False,0
25434,mover_nn01-35821108,"{'keyword': 'Mover', 'full_text': 'Therefore w...",1737,mover,"{'title': 'Gentleman's Mag.', 'author': None, ...",https://www.oed.com/view/Entry/123034#eid35821108,mover_nn01,mover_nn01-35821082,1737,False,"mover, n.1, sense 4",False,0